<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>交付 insert 功能</h1>
    <p>實現能夠插入故事進 firebase-database
        接口 insert(), formatItem() formatStories()
    </p>
    <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>
    <script src = "/public/controller/userStatus.js"></script>
</body>
</html>