ㄑ<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">



  <title>StorybookHub</title>  
  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet" />
<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Hi</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="img-responsive site-logo" alt="" src="./assets/images/mashup-logo.svg">
            Mashup Template
          </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor.</p>
      </div>
      <ul class="nav">
        <li><a href="/" title="">Home</a></li>
        <li><a href="/creator" title="">Story Creator</a></li>
        <li><a href="/services" title="">Services</a></li>
        <li><a href="/components" title="">Components</a></li>
        <li id="loginLink"><a href="/contact" title="">Login/Sign up</a></li>
        <!-- 其他連結... -->
        <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Log out</a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse"><!-- Here-->
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold" id="displayName"></span>
        <span class="text-black-50">isloggedin</span>
        <span id="phoneNumber"></span>
    </div>
    
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input id="nameInput" type="text" class="form-control" placeholder="this will be the display name " value=""></div>
                    <div class="col-md-6"><label class="labels">Email</label><input id="emailInput" input type="text" class="form-control" value="" placeholder="Email"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input id="phoneInput" type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Bio</label><input id="bioInput" type="text" class="form-control" placeholder="Say something" value=""></div>
                    <div class="col-md-12"><label class="labels">Pronoun</label><input id="pronounInput" type="text" class="form-control" placeholder="enter your prefered pronoun(s)" value=""></div>
                </div>
                <div class="mt-5 text-center">
                  <button id="saveProfileButton" class="btn btn-primary profile-button" type="button">Save Profile</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>


<!-- Add your site or app content here -->
<div id="profile">
  <img id="avatar" src="" alt="User Avatar">
  <p id="intro"></p>
</div>

 

</main>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>

<script src="{{ url_for('static', filename='hello-world/public/controller/config.js') }}"></script>

<script src="{{ url_for('static', filename='hello-world/public/controller/auth.js') }}"></script>
<script src="{{ url_for('static', filename='hello-world/public/controller/insert.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/upload.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.85741bff.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script>
  async function getUserInfo() {
    const user = await retUserInfo();
    console.log(user);
    const displayNameElement = document.getElementById('displayName');
    const phoneNumberElement = document.getElementById('phoneNumber');


    emailInput.value = user.email;
    emailInput.value = user.email;

    // 設置displayName和phoneNumber的內容
    displayNameElement.textContent = user.displayName || 'No Display Name';
    phoneNumberElement.textContent = user.phoneNumber || 'No Phone Number'; 
}

function updateUserInfo(displayName, email, phoneNumber, bio, pronoun) {
  // const user = await retUserInfo();
  retUserInfo().then(user => {
      user.updateProfile({
          displayName: displayName,
      }).then(function() {
          // Update successful.
          console.log("User profile updated successfully.");
          getUserInfo();
      }).catch(function(error) {
          // An error happened.
          console.error("Error updating user profile:", error);
      });
      
      // Update email, phone number, bio, pronoun
      const userRef = firebase.database().ref('users/' + user.uid);
      userRef.update({
          email: email,
          phoneNumber: phoneNumber,
          bio: bio,
          pronoun: pronoun
      }).then(function() {
          console.log("User info updated successfully.");
      }).catch(function(error) {
          console.error("Error updating user info:", error);
      });
  }).catch(error => {
      console.error(error);
  });
}


function handleSubmit() {
  const displayName = document.getElementById('nameInput').value;
  const email = document.getElementById('emailInput').value;
  const phoneNumber = document.getElementById('phoneInput').value;
  const bio = document.getElementById('bioInput').value;
  const pronoun = document.getElementById('pronounInput').value;

  updateUserInfo(displayName, email, phoneNumber, bio, pronoun).then(() => {
    setTimeout(function() {
      alert("Profile updated!");
    }, 1000); // 延遲 1 秒顯示通知
  });
}

// function handleSubmit() {
//   const displayName = document.querySelector('input[placeholder="this will be the display name "]').value;
//   const email = document.getElementById('emailInput').value;
//   const phoneNumber = document.querySelector('phoneInput').value;
//   const bio = document.querySelector('bioInput').value;
//   const pronoun = document.querySelector('pronounInput').value;

//   updateUserInfo(displayName, email, phoneNumber, bio, pronoun);
// }

document.addEventListener('DOMContentLoaded', function() {
    const saveProfileButton = document.getElementById('saveProfileButton');
    saveProfileButton.addEventListener('click', handleSubmit);
    alert("Profile updated!");
});



  getUserInfo();



//                       how to show stories|
//                                          v

  function updateStoryImages() {
      getPublishedStories().then(data => {
          if (!data) {
              console.error('No data received from Firebase');
              return;
          }
  
          const stories = Object.values(data);
          console.log('Fetched stories:', stories); // 调试信息
          const gridContainer = document.querySelector('.grid');
  
          stories.forEach((story, index) => {
              const gridItem = document.createElement('div');
              gridItem.classList.add('grid-item');
              gridItem.setAttribute('data-id', story.signature);
  
              const img = document.createElement('img');
              img.classList.add('img-responsive', 'story-image');
              img.alt = story.title;
  
              const imageUrl = story.image;
              if (imageUrl) {
                  img.src = imageUrl;
              } else {
                  console.error(`No picture found for story at index ${index}, story:`, story); // 调试信息
                  img.src = '{{ url_for('static', filename='assets/images/default.jpg') }}'; // 使用默认图片
              }
  
              const projectDescription = document.createElement('a');
              projectDescription.href ="/project"; // 使用 # 作为临时链接
              projectDescription.classList.add('project-description');
              
              projectDescription.addEventListener('click', function() {
                localStorage.setItem('selectedStory', JSON.stringify(story));
                window.location.href = '/project.html';
              });
  
              const projectTextHolder = document.createElement('div');
              projectTextHolder.classList.add('project-text-holder');
  
              const projectTextInner = document.createElement('div');
              projectTextInner.classList.add('project-text-inner');
  
              const h3 = document.createElement('h3');
              h3.textContent = story.title;
  
              const p = document.createElement('p');
              p.textContent = 'Discover more';
  
              projectTextInner.appendChild(h3);
              projectTextInner.appendChild(p);
              projectTextHolder.appendChild(projectTextInner);
              projectDescription.appendChild(projectTextHolder);
  
              gridItem.appendChild(img);
              gridItem.appendChild(projectDescription);
              gridContainer.appendChild(gridItem);
          });

      }).catch(error => {
          console.error('Error fetching stories:', error); // 调试信息
      });
    }



// if (user) {
        // document.getElementById('avatar').src = user.avatarURL;
        // document.getElementById('intro').innerText = user.intro;
        // console.log(user.avatarURL)
        // console.log(user.intro)
    //     console.log(user);
    // } else {
    //     console.log("User not found.");
    // }

// const username = localStorage.getItem("username");
// const user = retUserInfo()
//         document.getElementById('avatar').src = user.avatarURL;
//         document.getElementById('intro').innerText = user.intro;
//         console.log(user.avatarURL)
//         console.log(user.intro)

// retUserInfo();//test

</script>

</body>

</html>