ㄑ<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">



  <title>StorybookHub</title>  
  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet" />
<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Fuck Me</a>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="img-responsive site-logo" alt="" src="./assets/images/mashup-logo.svg">
            Mashup Template
          </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor.</p>
      </div>
      <ul class="nav">
        <li><a href="/" title="">Home</a></li>
        <li><a href="/creator" title="">Story Creator</a></li>
        <li><a href="/services" title="">Services</a></li>
        <li><a href="/components" title="">Components</a></li>
        <li id="loginLink"><a href="/contact" title="">Login/Sign up</a></li>
        <!-- 其他連結... -->
        <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Log out</a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.instagram.com/" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse"><!-- Here-->
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">isloggedin</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Bio</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Pronoun</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
  </div>
  </div>
  </div>


<!-- Add your site or app content here -->
<div id="profile">
  <img id="avatar" src="" alt="User Avatar">
  <p id="intro"></p>
</div>

 

</main>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>

<script src="{{ url_for('static', filename='hello-world/public/controller/auth.js') }}"></script>
<script src="{{ url_for('static', filename='hello-world/public/controller/insert.js') }}"></script>
<script src="{{ url_for('static', filename='hello-world/public/controller/upload.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.85741bff.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script>
//   async function updateUserProfile(email) {
//     console.log("ii");
//     const user = await getUser(email);
//     console.log("hihi", user);
//     console.log("hii");
//     console.log(user);
//     if (user) {
//         // document.getElementById('avatar').src = user.avatarURL;
//         // document.getElementById('intro').innerText = user.intro;
//         // console.log(user.avatarURL)
//         // console.log(user.intro)
//         console.log(user);
//     } else {
//         console.log("User not found.");
//     }
// }

// updateUserProfile("kevin.leaf1@gmail.c2om");

// const username = localStorage.getItem("username");
// const user = retUserInfo()
//         document.getElementById('avatar').src = user.avatarURL;
//         document.getElementById('intro').innerText = user.intro;
//         console.log(user.avatarURL)
//         console.log(user.intro)

retUserInfo();//test

</script>

</body>

</html>