ㄑ<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/favicon.ico" rel="icon">



  <title>StoryVerse AI Hub</title>  
  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet" />
<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">StoryVerse AI Hub</a>
  </div>

  <nav class="sidebar">
    <div class="site-header hidden-xs">
      <a class="site-brand" href="/" title="">
        <img class="img-responsive site-logo" alt=""
          src="{{ url_for('static', filename='assets/images/logo.jpg') }}">
          StoryVerse AI Hub
      </a>
      <p>Powered by AI, we aim to seamlessly integrate picture book creation with multilingual audio support (15+ languages). Our objective is to facilitate efficient language acquisition for users worldwide.</p>
    </div>
      <ul class="nav">
        <li><a href="/" title="">Home</a></li>
        <li><a href="/creator" title="">Story Creator</a></li>
        <li id="loginLink"><a href="/contact" title="">Login/Sign up</a></li>
        <!-- 其他連結... -->
        <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Log out</a></li>
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://github.com/yshyshyshyshysh/AI_PictureBooks_Web.git" title="">
            <i class="fa fa-github"></i>
          </a>
          <a class="fa-icon" href="https://github.com/AdventrousAstronaut/web-app/tree/main" title="">
            <i class="fa fa-github"></i>
          </a>
        </p>
        <p>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </nav>  
    </div> 
  </nav>

  <style>
    /* Profile的排版 */
    .container {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .col-md-4 {
        padding: 3rem 1rem;
    }
    .col-md-8 .p-5 {
        padding: 3rem;
    }
    .row.mt-4 .col-md-6,
    .row.mt-3 .col-md-12 {
        margin-bottom: 1.5rem;
    }
    .profile-button {
        margin: 0 1rem;
    }

</style>
</header>
<main class="" id="main-collapse"><!-- Here-->
  <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
          <div class="col-md-4 d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            <!-- <img class="rounded-circle mt-5" width="150px" src="{{ url_for('static', filename='assets/images/profile.png') }}"> -->
              <span class="font-weight-bold mt-3" id="displayName"></span>
              <span id="phoneNumber"></span>
          </div>
          
          <div class="col-md-8">
              <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4>Profile Settings</h4>
                  </div>
                  <div class="row mt-4">
                      <div class="col-md-6 mb-3">
                          <label class="labels">姓名</label>
                          <input id="nameInput" type="text" class="form-control" placeholder="請輸入顯示的名稱" value="">
                      </div>
                      <div class="col-md-6 mb-3">
                          <label class="labels">電子郵件</label>
                          <input id="emailInput" input type="text" class="form-control" value="" placeholder="Email">
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 mb-3">
                      <label class="labels">ID</label>
                      <input id="idInput" type="text" class="form-control" placeholder="" value="">
                  </div>
                      <div class="col-md-12 mb-3">
                          <label class="labels">手機號碼</label>
                          <input id="phoneInput" type="text" class="form-control" placeholder="請輸入手機號碼" value="">
                      </div>
                      <div class="col-md-12 mb-3">
                          <label class="labels">個人簡介</label>
                          <input id="bioInput" type="text" class="form-control" placeholder="請輸入個人簡介" value="">
                      </div>
                      <div class="col-md-12 mb-3">
                          <label class="labels">代名詞</label>
                          <input id="pronounInput" type="text" class="form-control" placeholder="請輸入您的代名詞" value="">
                      </div>
                  </div>
                  <div class="mt-5 text-center">
                      <button id="saveProfileButton" class="btn btn-primary profile-button" type="button">儲存資料</button>
                      <button id="deleteProfileButton" type="button" class="btn btn-danger profile-button" id="deleteButton">刪除使用者</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
<div class="hero-full-wrapper">
  <div class="grid">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>

  
    
    <!-- 更多的故事图片 -->
  </div> 
</div>





</main>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>

<script src="{{ url_for('static', filename='hello-world/public/controller/config.js') }}"></script>

<script src="{{ url_for('static', filename='hello-world/public/controller/auth.js') }}"></script>
<script src="{{ url_for('static', filename='hello-world/public/controller/insert.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/upload.js') }}"></script> -->
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='hello-world/public/controller/userStatus.js') }}"></script> -->
<script>

  async function getUserInfo() {
    const user = await retUserInfo();
    console.log(user);
    const displayNameElement = document.getElementById('displayName');
    const phoneNumberElement = document.getElementById('phoneNumber');
    const uid = document.getElementById('uid');

    emailInput.value = user.email;
    nameInput.value = user.displayName;
    idInput.value = user.uid;
    // 設置displayName和phoneNumber的內容
    displayNameElement.textContent = user.displayName || 'No Display Name';
    phoneNumberElement.textContent = user.phoneNumber || 'No Phone Number'; 
}

getUserInfo();

function updateUserInfo(displayName, email, phoneNumber, bio, pronoun) {
  // const user = await retUserInfo();
  retUserInfo().then(user => {
      user.updateProfile({
          displayName: displayName,
          phoneNumber: phoneNumber
      }).then(function() {
          // Update successful.
          console.log("User profile updated successfully.");
          getUserInfo();
      }).catch(function(error) {
          // An error happened.
          console.error("Error updating user profile:", error);
      });
      
      // Update email, phone number, bio, pronoun
      const userRef = firebase.database().ref('users/' + user.uid);
      userRef.update({
          email: email,
          phoneNumber: phoneNumber,
          bio: bio,
          pronoun: pronoun
      }).then(function() {
          console.log("User info updated successfully.");
      }).catch(function(error) {
          console.error("Error updating user info:", error);
      });
  }).catch(error => {
      console.error(error);
  });
}


function handleSubmit() {
  const displayName = document.getElementById('nameInput').value;
  const email = document.getElementById('emailInput').value;
  const idNum = document.getElementById('idInput').value;
  const phoneNumber = document.getElementById('phoneInput').value;
  const bio = document.getElementById('bioInput').value;
  const pronoun = document.getElementById('pronounInput').value;

  // updateUserInfo(displayName, email, phoneNumber, bio, pronoun).then(() => {
  //   setTimeout(function() {
  //     alert("Profile updated!");
  //   }, 1000); // 延遲 1 秒顯示通知
  // });
  alert("Profile updated!");
  setTimeout(function() {
    updateUserInfo(displayName, email, idNum, phoneNumber, bio, pronoun);
    }, 500); // 延遲 1 秒顯示通知
}

// function handleSubmit() {
//   const displayName = document.querySelector('input[placeholder="this will be the display name "]').value;
//   const email = document.getElementById('emailInput').value;
//   const phoneNumber = document.querySelector('phoneInput').value;
//   const bio = document.querySelector('bioInput').value;
//   const pronoun = document.querySelector('pronounInput').value;

//   updateUserInfo(displayName, email, phoneNumber, bio, pronoun);
// }

document.addEventListener('DOMContentLoaded', function() {
    const saveProfileButton = document.getElementById('saveProfileButton');
    saveProfileButton.addEventListener('click', handleSubmit);
    // alert("Profile updated!");
});


//                       how to show stories|
//                                          v

  function myStoryImages(id) {
      getMyStories(id).then(data => {
          if (!data) {
              console.error('No data received from Firebase');
              return;
          }
  
          const stories = Object.values(data);
          console.log('Fetched stories:', stories); // 调试信息
          const gridContainer = document.querySelector('.grid');
  
          stories.forEach((story, index) => {
              const gridItem = document.createElement('div');
              gridItem.classList.add('grid-item');
              gridItem.setAttribute('data-id', story.signature);
  
              const img = document.createElement('img');
              img.classList.add('img-responsive', 'story-image');
              img.alt = story.title;
  
              const imageUrl = story.image;
              if (imageUrl) {
                  img.src = imageUrl;
              } else {
                  console.error(`No picture found for story at index ${index}, story:`, story); // 调试信息
                  img.src = '{{ url_for('static', filename='assets/images/default.jpg') }}'; // 使用默认图片
              }
  
              const projectDescription = document.createElement('a');
              projectDescription.href ="/project"; // 使用 # 作为临时链接
              projectDescription.classList.add('project-description');
              
              projectDescription.addEventListener('click', function() {
                localStorage.setItem('selectedStory', JSON.stringify(story));
                window.location.href = '/project.html';
              });
  
              const projectTextHolder = document.createElement('div');
              projectTextHolder.classList.add('project-text-holder');
  
              const projectTextInner = document.createElement('div');
              projectTextInner.classList.add('project-text-inner');
  
              const h3 = document.createElement('h3');
              h3.textContent = story.title;
  
              const h4 = document.createElement('h4');
              h4.textContent = story.language;
  
              const p = document.createElement('p');
              p.textContent = 'Discover more';

              projectTextInner.appendChild(h3);
              projectTextInner.appendChild(h4);
              projectTextInner.appendChild(p);
              projectTextHolder.appendChild(projectTextInner);
              projectDescription.appendChild(projectTextHolder);
  
              gridItem.appendChild(img);
              gridItem.appendChild(projectDescription);
              gridContainer.appendChild(gridItem);
          });

      }).catch(error => {
          console.error('Error fetching stories:', error); // 调试信息
      });
}

retUserInfo().then(user => {
      const uid = user.uid;
      myStoryImages(uid);
  }).catch(error => {
      console.error('Error fetching user info:', error);
});


// if (user) {
        // document.getElementById('avatar').src = user.avatarURL;
        // document.getElementById('intro').innerText = user.intro;
        // console.log(user.avatarURL)
        // console.log(user.intro)
    //     console.log(user);
    // } else {
    //     console.log("User not found.");
    // }

// const username = localStorage.getItem("username");
// const user = retUserInfo()
//         document.getElementById('avatar').src = user.avatarURL;
//         document.getElementById('intro').innerText = user.intro;
//         console.log(user.avatarURL)
//         console.log(user.intro)

// retUserInfo();//test

</script>

</body>

</html>