<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="/assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="/assets/favicon.ico" rel="icon">



  <title>StorybookHub</title>

  <link href="{{ url_for('static', filename='css/main.82cfd66e.css') }}" rel="stylesheet" />
</head>

<body>

  <!-- Add your content of header -->
  <header class="">
    <div class="navbar navbar-default visible-xs">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/index" class="navbar-brand">StorybookHub</a>
    </div>

    <nav class="sidebar">
      <div class="navbar-collapse" id="navbar-collapse">
        <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/assets/images/mashup-logo.svg">
            Mashup Template
          </a>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor.</p>
        </div>
        <ul class="nav">
          <li><a href="/" title="">Home</a></li>
          <li><a href="/about" title="">Story Creator</a></li>
          <li><a href="/services" title="">Services</a></li>
          <li><a href="/contact" title="">Login/Sign up</a></li>
          <li><a href="/components" title="">Components</a></li>
          <!-- 其他連結... -->
          <li id="logout-li" style="display: none;"><a href="#" id="logout-link">Log out</a></li>
        </ul>

        <nav class="nav-footer">
          <p class="nav-footer-social-buttons">
            <a class="fa-icon" href="https://www.instagram.com/" title="">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="fa-icon" href="https://dribbble.com/" title="">
              <i class="fa fa-dribbble"></i>
            </a>
            <a class="fa-icon" href="https://twitter.com/" title="">
              <i class="fa fa-twitter"></i>
            </a>
          </p>
          <p>© Untitled | Website created with <a href="http://www.mashup-template.com/"
              title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/"
              title="Beautiful Free Images">Unsplash</a></p>
        </nav>
      </div>
    </nav>
  </header>
  <main class="" id="main-collapse">


    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer">
          <h1>Sign up</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
        </div>
        <div class="section-container-spacer">
          <form id="login-form" action="" class="reveal-content">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <ul id="passwordRequirements">
                        <li id="lengthRequirement">1. 12+ characters</li>
                        <li id="uppercaseRequirement">2. includes CAPITAL letters</li>
                        <li id="numberRequirement">3. includes numbers</li>
                    </ul>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="repeat" placeholder="Confirm password">
                  <p id="passwordMismatch" style="color: red; display: none;">The two passwords do not match, please try again.</p>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Sign up</button>

              </div>
              <div class="col-md-6">
                <ul class="list-unstyled address-container">
                  <li>
                    <span class="fa-icon">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    + 886 02-33663366
                  </li>
                  <li>
                    <span class="fa-icon">
                      <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                    e-mail@mail.io
                  </li>
                  <li>
                    <span class="fa-icon">
                      <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    校總區 106319 臺北市羅斯福路四段一號
                  </li>
                </ul>
                <h3>Follow me on social networks</h3>
                <a href="https://www.linkedin.com/" title="" class="fa-icon">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/" title="" class="fa-icon">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://dribbble.com/" title="" class="fa-icon">
                  <i class="fa fa-dribbble"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


  </main>

  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js"></script>

  <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-database.js"></script>

  <!-- <script src="/hello-world/public/controller/insert.js"></script> -->
  <!-- <script src="static/hello-world/public/controller/userStatus.js"></script> -->
  <!-- <script src="static/hello-world/public/controller/config.js"></script> -->
  <script src="{{ url_for('static', filename='hello-world/public/controller/config.js') }}"></script>
  <script src="{{ url_for('static', filename='hello-world/public/controller/auth.js') }}"></script>


  <script src="{{ url_for('static', filename='js/main.85741bff.js') }}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        navbarToggleSidebar();
        navActivePage();
         const isLoggedIn = localStorage.getItem("username");
        
        // 根據登入狀態顯示或隱藏登出按鈕
        const logoutLi = document.getElementById("logout-li");
        if (isLoggedIn) {
          logoutLi.style.display = "block";
        } else {
          logoutLi.style.display = "none";
        }

        // 登出按鈕的點擊事件
        const logoutLink = document.getElementById("logout-link");
        logoutLink.addEventListener("click", function (event) {
          event.preventDefault();
          // 清除本地存儲的登入狀態
          localStorage.removeItem("username");
          // 導向登入頁面
          alert("You have been logged out.")
          window.location.href = "/";
        });
      
        var loginForm = document.getElementById("login-form");
        var lengthRequirement = document.getElementById("lengthRequirement");
        var uppercaseRequirement = document.getElementById("uppercaseRequirement");
        var numberRequirement = document.getElementById("numberRequirement");
        var passwordInput = document.getElementById("password");
        var repeatPasswordInput = document.getElementById("repeat");
      
        // Function to check password strength as user types
        passwordInput.addEventListener("input", function() {

            var password = this.value;
            var hasLength = password.length >= 12;
            
            var hasUpperCase = /[A-Z]/.test(password);
            var hasNumber = /\d/.test(password);

            // Update CSS styling based on password strength conditions
            lengthRequirement.style.color = hasLength ? "green" : "black";
            uppercaseRequirement.style.color = hasUpperCase ? "green" : "black";
            numberRequirement.style.color = hasNumber ? "green" : "black";
        });

        // Function to check if passwords match
        function checkPasswordsMatch() {
            var password = passwordInput.value;
            var repeatPassword = repeatPasswordInput.value;
            
            if (password !== repeatPassword) {
                alert("Passwords do not match. Please try again.");
                return false;
            }
            return true;
        }

        // Function to check if user already exists

        // async function userExists(email) {
          
        //     const user = await (email);
        //     return !!user; // Return true if user exists, false otherwise
        // }

        // Add submit event listener directly to the form element
        loginForm.addEventListener("submit", async function(event) {
            event.preventDefault();
            var emailInput = document.getElementById("email").value;
            var passwordInput = document.getElementById("password").value;

            var hasLength = passwordInput.length >= 12;
            var hasUpperCase = /[A-Z]/.test(passwordInput);
            var hasNumber = /\d/.test(passwordInput);
            
            if (!hasLength || !hasUpperCase || !hasNumber) {
                alert("Password must be 12+ characters long and include capital letters & numbers.");
                return; // Don't proceed with registration if password is not strong
            }

            // Check if passwords match
            if (!checkPasswordsMatch()) {
                return; // Don't proceed with registration if passwords don't match
            }

            
            // Check if user already exists
            // if (await userExists(emailInput)) {
            //     alert("User already exists. Try another account.");
            //     return; // Don't proceed with registration if user already exists
            // }


          // firebase
          // .auth()
          // .createUserWithEmailAndPassword(email, password)
          // .then(result => {
          //     // 寄送驗證信 (仍可登入)
              // verifyEmail(email);
          //     console.log("註冊成功！我們寄了一封信 請核查您的信箱已進行登入!")
          // }).catch(function (error) {
          //     // 在此處可以跳轉頁面, 或是將錯誤訊息注入登入頁面
          //     console.log("註冊失敗: " + error.message);
          // });

            register(emailInput, passwordInput);
            setTimeout(function() {
              localStorage.setItem("username", emailInput);
              window.location.href = "/";
            }, 2000);

            // Call the register function
            // register(emailInput, passwordInput)
            //     .then(() => {
            //         var message = "Sign up successfully! Email: " + emailInput;
            //         alert(message);
                    
            





                  // const user = firebase.auth().currentUser;

                  // 发送验证邮件
                  // user.sendEmailVerification()
                  //   .then(() => {
                  //     console.log('Verification email sent');
                  //   })
                  //   .catch(error => {
                  //     console.error('Error sending verification email:', error);
                  //   });
                    
                // })
                // .catch(error => {
                //     console.error("Error registering user:", error);
                //     alert("Error: " + error.message);
                // });
        });
    });

  </script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
  
</body>

</html>